# Entorno Virtual
.env/
.venv/

# Variables de entorno (NUNCA subir a Git)
.env

# Agentes de IA
.agents/

# Python compilado
**/__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3

# Archivos de medios subidos por usuarios
/media/

# Archivos estáticos compilados (collectstatic)
/staticfiles/

# Logs
/logs/

# Dump de datos para migración
datadump.json