<aside class="bg-base-100 w-64 min-h-screen border-r border-base-300 hidden lg:block">
  <div class="p-4 mb-4">
    <span class="text-xl font-bold text-primary flex items-center gap-2">
      <i class="fa-solid fa-ticket-simple"></i> ETR Tickets
    </span>
  </div>
  <ul class="menu w-full px-4 gap-2">
    <li class="menu-title text-gray-400">Menú Principal</li>
    <li><a class="active"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
    <li>
      <details open>
        <summary><i class="fa-solid fa-ticket"></i> Tickets</summary>
        <ul>
          <li><a href="{% url 'tickets_view' %}">Todos los tickets</a></li>
          <li><a href="{% url 'tickets_view_self' %}">Asignados a mí</a></li>
          <li><a href="{% url 'tickets_view_pending' %}">Pendientes</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details open>
        <summary><i class="fa-solid fa-warehouse"></i> Inventario</summary>
        <ul>
          <li><a href="{% url 'inventory_view' %}">Equipos</a></li>
          <li><a>Asignaciones</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details open>
        <summary><i class="fa-solid fa-book"></i> Docs</summary>
        <ul>
          <li><a>Manuales</a></li>
          <li><a>Guias</a></li>
        </ul>
      </details>
    </li>
    <li class="menu-title mt-4 text-gray-400">Administración</li>
    <li>
      <details open>
        <summary><i class="fa-solid fa-gear"></i> Configuración</summary>
        <ul>
          <li><a href="{% url 'user_view' %}">Usuarios</a></li>
          <li><a>Permisos</a></li>
        </ul>
      </details>
    </li>
    <li><a><i class="fa-solid fa-file-export"></i> Reportes</a></li>
    <li><a href="/admin/"><i class="fa-solid fa-user-tie"></i> Acceso django Admin</a></li>
  </ul>
</aside>

