<aside class="bg-gray-200 w-64 min-h-screen border-r border-base-300 hidden lg:block">
  <ul class="menu w-full px-4 gap-2">
    <li class="menu-title text-gray-400">Menú Principal</li>
    {% if perms.tickets.view_tickets %}
      <li><a href="{% url 'dashboard_view' %}" class="active"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
    {% endif %}
    {% if perms.tickets.view_tickets %}
    <li>
      <details open>
        <summary><i class="fa-solid fa-ticket"></i> Tickets</summary>
        <ul>
          <li><a href="{% url 'tickets_view' %}">Todos los tickets</a></li>
          <li><a href="{% url 'tickets_view_self' %}">Asignados a mí</a></li>
          <li><a href="{% url 'tickets_view_pending' %}">Pendientes</a></li>
        </ul>
      </details>
    </li>
    {% endif %}
    {% if perms.inventory.view_activos %}
    <li>
      <details open>
        <summary><i class="fa-solid fa-warehouse"></i> Inventario</summary>
        <ul>
          <li><a href="{% url 'inventory_view' %}">Equipos</a></li>
          <li><a>Asignaciones</a></li>
        </ul>
      </details>
    </li>
    {% endif %}
    {% if perms.library.view_tutorial %}
    <li>
      <details open>
        <summary><i class="fa-solid fa-book"></i> Docs</summary>
        <ul>
          <li><a href="{% url 'library_view' %}">Manuales</a></li>
          {% if perms.library.add_tutorial %}
          <li><a href="{% url 'library_create' %}">Cargar Manuales</a></li>
          {% endif %}
        </ul>
      </details>
    </li>
    {% endif %}
    {% if perms.users.view_usuario %}
    <li class="menu-title mt-4 text-gray-400">Administración</li>
    <li>
      <details open>
        <summary><i class="fa-solid fa-gear"></i> Configuración</summary>
        <ul>
          <li><a href="{% url 'user_view' %}">Usuarios</a></li>
          <li><a>Permisos</a></li>
        </ul>
      </details>
    </li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li><a href="/admin/"><i class="fa-solid fa-user-tie"></i> Acceso django Admin</a></li>
    {% endif %}
  </ul>
</aside>