@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand: #00255e;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(0.2818 0.1099 259.13);
  --color-primary-content: #ffffff;
  --color-secondary: oklch(94% 0.028 342.258);
  --color-secondary-content: oklch(0.2818 0.1099 259.13);
}


@source "../../../**/*.{html,py,js}";
