{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="light"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Tickets{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favico.png' %}"/>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.js" integrity="sha512-D4pL3vNgjkHR/qq+nZywuS6Hg1gwR+UzrdBW6Yg8l26revKyQHMgPq9CLJ2+HHalepS+NuGw1ayCCsGXu9JCXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-base-200 min-h-screen flex flex-col">

    {% if request.user.is_authenticated and request.session.admin_login%}
        {% include 'includes/navbar.html' %}
    {% endif %}

    <div class="flex flex-1">

        {% if request.user.is_authenticated and request.session.admin_login%}
            {% include 'includes/sidebar.html' %}
        {% endif %}

        <main class="flex-1 p-6">
            {% block content %}
            {% endblock %}
        </main>
    </div>

</body>
</html>