{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="light"> 
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Tickets{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="bg-base-200 min-h-screen flex flex-col">

    {% include 'includes/navbar_login.html' %}

    <main class="flex-1 p-6">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>